.container-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sub-container-description {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.container-description .sub-container-description h1 {
    text-decoration: underline;
    text-transform: uppercase;
    /* font-style: oblique; */
    color: rgb(113, 72, 66);

}
.container-description .sub-container-description .box {
    display: block;
    width: 90%;
    border-radius: 10px;
    margin: 20px 0;
    border: 3px rgb(113, 72, 66) solid;
    padding: 8px;
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.container-description .sub-container-description .box h3 {
    text-align: center;
    font-size: 30px;
}
.container-description .sub-container-description .box .box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-description .sub-container-description .box .box-center ul li {
    line-height: 2;
}

.container-description .sub-container-description .box p {
    font-size: medium;
    text-align: center;
}

.container-description .sub-container-description .box p a {
text-decoration: underline;
}

@media (min-width: 992px) {
    .col .px-md-3.pb-md-4 {
    margin: auto;
    width: 100dvh;
}
}
