/*HEader PC*/

.js-head-main.head-main.head-colors.position-sticky.position-sticky-md.head-logo-left.head-logo-md-left.head-nav-md-inline.transition-soft:hover {
    color: #fff;
    transition: all .4s ease-in;
}

.js-head-main.head-main.head-colors.position-sticky.position-sticky-md.head-logo-left.head-logo-md-left.head-nav-md-inline.transition-soft {
    background-color: rgb(202, 202, 202) ;
    color: #000000;
}




.js-desktop-nav-item.js-nav-main-item.nav-main-item.nav-item-desktop.nav-item a {
    color: #000;
}
.js-desktop-nav-item.js-nav-main-item.nav-main-item.nav-item-desktop.nav-item a:hover {
    color: #fff !important;
    transition: all .4s ease-in;
}

.nav-item-container .nav-list-link.osition-relative:hover {
        color: #fff !important;
    transition: all .4s ease-in;
}

.js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-left.nav-desktop-list-arrow.nav-desktop-list-arrow-left .icon-inline.icon-lg.icon-flip-horizontal.svg-icon-text,
.js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-right.nav-desktop-list-arrow.nav-desktop-list-arrow-right .icon-inline.icon-lg.svg-icon-text,
.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.position-relative.pr-0 svg,
.btn.btn-utility .icon-inline.utilities-icon,
.js-search-button.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.utilities-item svg {
    fill: #000;
}

.js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-left.nav-desktop-list-arrow.nav-desktop-list-arrow-left .icon-inline.icon-lg.icon-flip-horizontal.svg-icon-text:hover,
.js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-right.nav-desktop-list-arrow.nav-desktop-list-arrow-right .icon-inline.icon-lg.svg-icon-text:hover,
.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.position-relative.pr-0 svg:hover,
.btn.btn-utility .icon-inline.utilities-icon:hover,
.js-search-button.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.utilities-item svg:hover {
    fill: #fff;
    transition: all .4s ease-in;
}

@media (min-width: 768px) AND (max-width: 1199px) {
    .js-utility-col.js-search-utility.col-auto.desktop-utility-col.col-md-auto.col-utility.order-1.order-md-0 {

        margin-left: 25px;
    }
}

.js-desktop-dropdown.nav-dropdown-content.desktop-dropdown {
    background-color: rgb(202, 202, 202);
}


/*Navbar Mobile*/

.modal-body.nav-body {

    background-color: rgb(202, 202, 202) !important;
} 

.nav-list-arrow.ml-1 .icon-inline.icon-lg.svg-icon-text,
.col-auto.pr-0 svg {
    fill: #000;
}

.nav-list-arrow.ml-1 .icon-inline.icon-lg.svg-icon-text:hover,
.col-auto.pr-0 svg:hover {
     color: #fff;
    transition: all .4s ease-in;
}


.row.no-gutters.align-items-center,
.col.pl-2.text-left.font-small a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.col.pl-2.text-left.font-small a:hover {
    color: #fff;
    transition: all .4s ease-in;
}

.js-modal-close.modal-close .icon-inline.svg-icon-text:hover {
    fill: #fff;
    transition: all .4s ease-in;
}

.nav-list .js-desktop-nav-item.nav-item {
  border-top: 1px solid #c0bfbf;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.nav-list .js-desktop-nav-item.nav-item:last-child,
.nav-list .js-desktop-nav-item.nav-item:nth-child(1)
 {
  border-top: 1px solid #c0bfbf;
  border-bottom: 1px solid #c0bfbf;
  border-left: none;
  border-right: none;
}

.js-desktop-nav-item.nav-item .nav-list-link,
.nav-item.item-with-subitems .js-toggle-menu-panel.align-items-center.nav-list-link.position-relative   {
    color: #000;

}

.js-desktop-nav-item.nav-item a:hover,
.nav-item.item-with-subitems .js-toggle-menu-panel.align-items-center.nav-list-link.position-relative:hover {
    color: #fff !important;
    transition: all .4s ease-in;

    & svg {
            fill: #fff !important;
            transition: all .4s ease-in;
    }
}

 .nav-item.item-with-subitems .js-menu-panel.nav-list-panel.nav-list-panel-right.list-subitems.nav-list-panel-show,
.js-menu-panel.nav-list-panel.nav-list-panel-right.list-subitems.nav-list-panel-show .modal-body.p-0{
   background-color:  rgb(202, 202, 202);
}

.row.no-gutters.align-items-center {
    font-size: 25px;
}

.row.no-gutters.align-items-center:hover {
    color: #fff;

    transition: all .4s ease-in;

    & svg {

        fill: #fff;
        transition: all .4s ease-in;
    }
    }


.js-toggle-menu-close.js-modal-close.modal-close svg:hover,
.nav-list-link.position-relative.font-small.py-3:hover {
        fill: #fff;
        color: #fff;
        transition: all .4s ease-in;
}


/* FOOTER */

.js-accordion-private-toggle-mobile.row.align-items-center .font-big.col.p-3,
.js-accordion-private-toggle-inactive svg,
.footer-menu-item .footer-menu-link,
.footer-menu-item .contact-link,
.list.font-small.py-2 .footer-menu-item,
.social-icon svg,
.col-md.font-smallest .d-inline-block.mr-md-2,
.claim-link.d-md-inline-block.mt-md-0.mt-3 .d-inline-block.mb-2.mb-md-0,
.claim-link.d-md-inline-block.mt-md-0.mt-3 a,
.claim-link.d-md-inline-block.mt-md-0.mt-3 .mx-1.d-none.d-md-inline-block,
.powered-by-logo svg{
    color: #000 !important;
    fill: #000;
}

.js-accordion-private-toggle-mobile.row.align-items-center .font-big.col.p-3:hover,
.js-accordion-private-toggle-inactive svg:hover,
.footer-menu-item .footer-menu-link:hover,
.footer-menu-item .contact-link:hover,
.social-icon svg:hover,
.claim-link.d-md-inline-block.mt-md-0.mt-3 a:hover {
        color: #fff !important;
        fill: #fff;
        transition: all .4s ease-in;

}


/* Seccion Productos */


/*Filtros PC*/

.row .col-md-auto.filters-sidebar.d-none.d-md-block.visible-when-content-ready {
    background-color: rgb(202, 202, 202);
    border-radius: 15px;
    padding: 20px;
    border: solid 2px #000;
    
}


.js-accordion-private-toggle.d-inline-block.btn-link.font-small.mt-1 .js-accordion-private-toggle-inactive:hover,
.mb-4.pb-2.list-unstyled .mb-2 a:hover {

    color: #fff;
 transition: all .4s ease-in;
 text-decoration: underline #fff;
}

.js-sort-by-private.form-select.form-select-small,
.js-filter-input-price-container.filter-input-price-container input {
 background-color: #fff;

}


/* Filtros mobile */

.js-modal.modal.modal-bottom.modal-centered.modal-bottom-sheet.modal-right-md.modal--md.transition-slide.modal-docked-md.transition-soft.modal-show,
.js-modal.modal.modal-bottom.modal-centered.modal-bottom-sheet.modal-right-md.modal--md.transition-slide.modal-docked-md.transition-soft.modal-show .modal-body,
.js-modal.modal.modal-filters.modal-docked-small.modal-right.modal--md.transition-slide.modal-docked-md.transition-soft.modal-show,
.js-modal.modal.modal-filters.modal-docked-small.modal-right.modal--md.transition-slide.modal-docked-md.transition-soft.modal-show .modal-body.h-100.p-0 {
    background-color: rgb(202, 202, 202)
}

.radio-button-content .radio-button-label:hover,
label .checkbox .checkbox-text:hover {
 color: #fff;
 transition: all .4s ease-in;
}

